<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Gaurav ghosh</a><button
                data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#portfolio">Portfolio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="https://drive.google.com/file/d/1T4JcXljDPziatYk9zhMSP0e7uQqHRLHr/view?usp=sharing" target="_blank">Resume</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#about">About</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="static/img/final.gif">
            <h1>Gaurav Ghosh</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Quick learner, Problem Solver, Team Player and Good Observer</h2>
        </div>
    </header>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">Portfolio</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-1">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i
                                    class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="static/img/portfolio/air_shot2.png">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-2">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i
                                    class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="static/img/portfolio/cardipred.png">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-3">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i
                                    class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="static/img/portfolio/paper.png">
                    </a>
                </div>
               

                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-5">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i
                                    class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="static/img/portfolio/screendraw.png">
                    </a>
                </div>
                    
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                
                    <p class="lead">My name is Gaurav Ghosh, and I am a final year engineering student, persuing my degree from NMIT BAngalore. My preffered coding language is Java. I have a keen intrest in Machine Learning and AI, due to which I have also got the opportunity to be one of the core team members of our College's AI Club named Persuit Of 42. Please do go through my resume to know me better.</p>
                
                
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Contact Me</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Name</label><input class="form-control" type="text" id="name" required=""
                                    placeholder="Name"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Email
                                    Address</label><input class="form-control" type="email" id="email" required=""
                                    placeholder="Email Address"><small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Phone
                                    Number</label><input class="form-control" type="tel" id="phone" required=""
                                    placeholder="Phone Number"><small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-5 pb-2"><textarea
                                    class="form-control" id="message" required="" placeholder="Message"
                                    rows="5"></textarea><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton"
                                type="submit">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p>Nitte Meenakshi Institute of Technology&nbsp; Bangalore, Karnataka</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">

                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Contact</h4>
                    <p class="lead mb-0"><span>+91 7019074903</br> 210gaurav@gmail.com</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;Gaurav Ghosh&nbsp; 2020</small></div>
    </div>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a
            class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a></div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Air BNB</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5"
                                    src="static/img/portfolio/air_shot2.png"><br>
                                <p class="mb-5">
                                    This project is aimed to bring out the important facts about the New York city airbnb details by analizing its dataset..
                                    </p>
                                <img class="img-fluid mb-5" src="static/img/portfolio/air_shot3.png">
                                <p class="mb-5">It also has a predictive part which is totally dedicated to find a suitable predictive model for the company, and its future growth.
                                    I have also created a web api (Based on Heroku Srver), and here is the link for that..
                                    Airbnb price prediction web interface: <a href = "https://airbnb-pred.herokuapp.com/">https://airbnb-pred.herokuapp.com/</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="#portfolio"><i class="fa fa-close"></i>&nbsp;Close Project</a></button></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">CardiPred</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5"
                                    src="static/img/portfolio/cardipred.png">
                                <p class="mb-5">This Project is aimed to detect any probable Cardiac Diseases that a person is suffering or may have a chance to suffer in the future.
                                    The evaluation metric which is taken into account is Recall and F1 Score,
                                    because if we consider the medical field , we would want as few FN (False Negetives) as possible and therefore ensuring that the patients who are having any disease are not sent back without being treated.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="#portfolio"><i class="fa fa-close"></i>&nbsp;Close Project</a></button></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Research Paper</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5"
                                    src="static/img/portfolio/paper.png"><br>
                                    <img class="img-fluid mb-5"
                                    src="static/img/portfolio/paper2.png">
                                <p class="mb-5">This product is a research work on CREATING YOUR OWN HAARCASCADE FILE...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="#portfolio"><i class="fa fa-close"></i>&nbsp;Close Project</a></button></div>
            </div>
        </div>
    </div>
    
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Screen Draw</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5"
                                    src="static/img/portfolio/screendraw.png">
                                <p class="mb-5">This project helps detect specific colours and allows us to draw in the screen itself without touching the screen.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="#portfolio"><i class="fa fa-close"></i>&nbsp;Close Project</a></button></div>
            </div>
        </div>
    </div>
    
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/js/freelancer.js"></script>
</body>

</html>